 html, body {
     min-width: 320px;
     font-size: 14px;
     font-family: 'Playfair Display', serif;
     color: #000000;
     background-color: #77b853;
     height: 100%;
 }
#wrap {
    min-height: 100%;
}
main {
    padding-bottom: 100px;
    /*Высота футера*/
}

 img {
     max-width: 100%;
     height: auto;
 }

 a {
     color: #000000;
 }
a:hover {
    color: #898377;
}

header .navbar-light {
    padding-left: 30px;
    padding-right: 20px;
    background-color: #00A876;
    margin-bottom: 10px;
}
header .nav-item {
    text-transform: uppercase;
    margin-left: 50px;
}
header .nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
    transform: scale(0);
    transition: all 0.4s;
}
header .nav-item a:hover::after {
    transform: scale(1);
}

.slider {
    margin-top: 10px;
    margin-bottom: 5px;
}

.img-service {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.align {
    text-align: center;
}

.grid-posts {
    margin-top: 80px;
    margin-bottom: 50px;
}
.grid-posts .card-img-top {
    max-height: 200px;
    border-right: 0;
}

 .map-container{
     overflow:hidden;
     padding-bottom:56.25%;
     position:relative;
     height:0;
 }
 .map-container iframe{
     left:0;
     top:0;
     height:100%;
     width:100%;
     position:absolute;
 }

 footer {
     background-color: #00A876;
     padding: 40px 0;
     color: #000000;
     margin-top: -100px;
     /*Минус Высота футера*/
     height: 100px;
     /*Высота футера*/
 }
 .footer-left a {
     color: #000000;
     margin-right: 20px;
 }
 .footer-right a {
     color: #000000;
     margin-left: 20px;
 }
 .footer-fixed {
     position: absolute;
     bottom: 0;
     width: 100%;
 }

 .send-button-color {
     background-color: #00A876;
 }

 .right-padding {
     padding-right: 20px;
 }
 .left-padding {
     padding-left: 20px;
 }

 .div-bg {
     background-color: #b1dfbb;
 }
 .div-bg2 {
    background-color: #7abaff;
 }

 .dropdown-menu-color {
     background-color:  #b1dfbb;
 }

 .h2-pad-top {
     padding-top: 20px;
 }

 .div-pad-bottom {
     padding-bottom: 20px;
 }

 .height-body-card {
     height: 582px;
 }

 .center-img {
     display: block;
     margin: 0 auto;
 }

 .search-input {
     padding: 10px;
 }

 .img-padding {
     padding: 10px;
 }

 .btn-padding {
     padding: 10px;
 }

 .shadow {
     box-shadow: 20px 20px 10px 5px black; /* Параметры тени */
     padding: 20px;
 }


 @media only screen and (max-width: 318px) {
     .grid-posts .card-img-top {
         max-height: 100px;
         max-width: 100px;
         border-right: 0;
     }
 }

 @media only screen and (max-width: 767px) {
     .img-profile {
         max-height: 250px;
         max-width: 250px;
         border-right: 0;
     }
 }

 @media only screen and (max-width: 5700px) {
     .login-div {
         max-width: 450px;
     }
 }

 @media only screen and (max-width: 453px) {
     .login-div {
         max-width: 350px;
     }
 }

 @media only screen and (max-width: 155px) {
     .footer-div-large-admin {
         position: fixed;
         bottom: 0;
         width: 100%;
     }
 }

 @media only screen and (max-width: 320px) {
     .footer-div {
         position: fixed;
         bottom: 0;
         width: 100%;
     }
 }

 @media only screen and (max-width: 242px) {
     .footer-div-login {
         position: fixed;
         bottom: 0;
         width: 100%;
     }
 }

 @media only screen and (max-width: 575px) {
     .contact-card {
         max-height: 490px;
     }
 }

